@font-face {
  font-family: 'Iransans';
  src: url('../font/Iransans/IRANSans-web.eot');
  src: url('../font/Iransans/IRANSans-web.eot?#iefix') format('embedded-opentype'),
       url('../font/Iransans/IRANSans-web.woff') format('woff'),
       url('../font/Iransans/IRANSans-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0600–06FF;
}
body {
  font-family: 'Iransans' !important;
}
/* html {
  direction:rtl;
} */